.tablaMoon{
    width: 90%;
    border-radius: 30px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666; 
}

.tablaMoon tr td{
    width: 15;
    text-align: left;
}

.tablaMoon td{
    border: 1px solid #979797;
    padding: 20px;
}

.tablaMoon th{
    border: 1px solid #979797;
    padding: 20px;
}

.tablaMoon tbody tr:hover{
    background: #ccc;
}

.tablaMoon tr td  span:hover{
    color: #87CEFA;
} 

.modalHeader tr td div.cerrar a span:hover{
    color:#FF0000;
}

.tablaMoon tr td span{
    margin-right: 15px;
    font-size: 20px;
}

.tablaMoon tr td a{
    text-decoration: none;
    color: #000;
}

.cerrarVentanaModal{
    color: #000;
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
}

.ventanaModal, .ventanaModal01, .ventanaModal02, .ventanaModal03, .ventanaModal04, .ventanaModal05{
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: -30px;
    display: none;
}

.ventanaModal0, .ventanaModal001, .ventanaModal002, .ventanaModal003, .ventanaModal004, .ventanaModal005{
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: -30px;
    display: none;
}

.informacion {
    /*Margen hacia abajo*/margin-bottom: 20px;
    width: 100%;
    /*Espaciado interno*/padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid #000000;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
}

.informacion1:focus{
    border: 1px solid #1668c4;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
}

.informacion1 {
    /*Margen hacia abajo*/margin-bottom: 20px;
    width: 100%;
    /*Espaciado interno*/padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid #000000;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
}

.informacion1:focus{
    border: 1px solid #1668c4;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
}

textarea{
    resize: both;
    max-height: 250px;
    min-height: 250px;
    max-width: 250px;
    min-width: 250px;
}

.form{
    width: 700px;
    height: 500px;
    padding: 20px;
    background-color: #EBEAE9;
    top 50%;
    left: 50%;
    position: absolute;
    margin-left: -175px;
    margin-top: 150px;
    border-radius: 32px 32px 32px 32px;
-moz-border-radius: 32px 32px 32px 32px;
-webkit-border-radius: 32px 32px 32px 32px;
border: 2px solid #1f1d1f;
}

.form .cerrar a span{
    font-size: 20px;
}

.form .cerrar a{
    text-decoration: none;
    color: #000;
}

.botonInfo{
    text-align: right;
}

.cerrar{
    color: #000;
    font-weight: 900;
    text-align: right;
}

.btn{
    border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #8B4652;
  background: linear-gradient(left, #4972B5, #618ACB);
  background: -moz-linear-gradient(left, #4972B5, #618ACB);
  background: -webkit-linear-gradient(left, #4972B5, #618ACB);
  background: -o-linear-gradient(left, #4972B5, #618ACB);
  color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}

.btn{
    background: #8B4652;
  background: linear-gradient(left, #365D9D, #436CAD);
  background: -moz-linear-gradient(left, #8B4652, #8B4652);
  background: -webkit-linear-gradient(left, #8B4652, #8B4652);
  background: -o-linear-gradient(left, #365D9D, #8B4652);
  color: #FFFFFF;
  border-color: #FBFFAD;
    cursor: pointer;
}

.modalHeader{
    width: 90%;
}

.areasText tr td{
    margin: 0px;
    padding: 25px;
}

.conflicto, .muestras{
    font-size: 20px;
}